@import "tailwindcss";

.background1::before {
  content: "";

  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  background-image: url(./assets/summer-seamless-pattern-with-navy-blue-tropical-leaves-on-stripe-background-for-fashion-fabric-textile-apparel-and-all-print-vector.jpg);
  opacity: 0.1;
  z-index: 0;
}

.background1>main {
  z-index: 10;
  position: relative;
}

.background2::before {
  content: "";

  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  background-image: url(./assets/summer-seamless-pattern-with-navy-blue-tropical-leaves-on-stripe-background-for-fashion-fabric-textile-apparel-and-all-print-vector.jpg);
  opacity: 0.05;
  z-index: 0;
}

.background2>main {
  z-index: 10;
  position: relative;
}

.userControlContainer {
  display: flex;
  justify-content: flex-end;
  position: relative;
  bottom: 15px;

}


.userControl {
  display: flex;
  flex-direction: row;
  gap: 5px;
  justify-content: center;
  margin: 1em 0.5em;
  padding: 5px 10px;
  background-color: rgb(255, 255, 255);
  border-radius: 5px;
  color: rgba(2, 32, 76, 0.996);
}

.userControl p {
  font-weight: 500;
}

.userControl :nth-child(2) {
  cursor: pointer;
}

.miniModalClose {
  position: absolute;
  top: 36px;
  width: 125px;
  display: flex;
  flex-direction: row;
  gap: 5px;
  justify-content: center;
  margin: 1em 0.5em;
  padding: 2px 10px;
  border-radius: 3px;
  color: rgb(255, 255, 255);
  cursor: pointer;
  font-weight: 700;
  box-shadow: 1px 2px 4px #4e67a6a5;
}

.miniModalClose:hover {
  background-color: rgb(16, 11, 88);
}

.deleteModalOpen_bg {
  position: fixed;
  background-color: rgba(0, 0, 0, 0.764);
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
  z-index: 0;
}



.deleteModalOpen {
  position: fixed;
  top: 230px;
  left: 600px;
  display: flex;
  gap: 2em;
  flex-direction: column;
  background-color: white;
  border-radius: 5px;
  padding: 40px 25px;
  width: 450px;
}

.deleteModalOpen h3 {
  color: rgb(239, 57, 57);
  font-size: 18px;
  font-weight: 700;
  font-family: Arial, Helvetica, sans-serif;
  border-bottom: 1px solid rgb(163, 183, 199);
}

.deleteModalOpen_texts p {
margin-top: 10px;
}


.buttons {
  width: 100%;
  display: flex;
  gap: 5px;
  font-family: Arial, Helvetica, sans-serif;
  justify-content: end;
  position: relative;
  top: 25px;

}

.buttons :nth-child(1) {
  background-color: rgb(52, 130, 255);
  padding: 4px 10px;
  border-radius: 5px;
  color: white;
}

.buttons :nth-child(2) {
  background-color: rgb(255, 52, 52);
  padding: 4px 10px;
  border-radius: 5px;
  color: white;
}


.buttons :nth-child(1):hover {
  background-color: rgb(5, 67, 167);
  cursor: pointer;
}

.buttons :nth-child(2):hover {
  background-color: rgb(171, 15, 15);
  cursor: pointer;
}