@import "tailwindcss";

.background1::before {
  content: "";

  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  background-image: url(./assets/summer-seamless-pattern-with-navy-blue-tropical-leaves-on-stripe-background-for-fashion-fabric-textile-apparel-and-all-print-vector.jpg);
  opacity: 0.1;
  z-index: 0;
}

.background1>main {
  z-index: 10;
  position: relative;
}

.background2::before {
  content: "";

  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  background-image: url(./assets/summer-seamless-pattern-with-navy-blue-tropical-leaves-on-stripe-background-for-fashion-fabric-textile-apparel-and-all-print-vector.jpg);
  opacity: 0.05;
  z-index: 0;
}

.background2>main {
  z-index: 10;
  position: relative;
}

.userControlContainer {
  display: flex;
  justify-content: flex-end;
  position: relative;
  bottom: 15px;

}


.userControl {
  display: flex;
  flex-direction: row;
  gap: 5px;
  justify-content: center;
  margin: 1em 0.5em;
  padding: 5px 10px;
  background-color: rgb(255, 255, 255);
  border-radius: 5px;
  color: rgba(2, 32, 76, 0.996);
}

.userControl p {
  font-weight: 500;
}

.userControl :nth-child(2) {
  cursor: pointer;
}

.miniModalClose {
  position: absolute;
  top: 36px;
  width: 125px;
  display: flex;
  flex-direction: row;
  gap: 5px;
  justify-content: center;
  margin: 1em 0.5em;
  padding: 2px 10px;
  border-radius: 3px;
  color: rgb(255, 255, 255);
  cursor: pointer;
  font-weight: 700;
  box-shadow: 1px 2px 4px #4e67a6a5;
}

.miniModalClose:hover {
  background-color: rgb(16, 11, 88);
}

.deleteModalOpen_bg {
  position: fixed;
  background-color: rgba(0, 0, 0, 0.764);
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
  z-index: 0;
}



.deleteModalOpen {
  position: fixed;
  top: 230px;
  left: 600px;
  display: flex;
  gap: 2em;
  flex-direction: column;
  background-color: white;
  border-radius: 5px;
  padding: 40px 25px;
  width: 450px;
}

.deleteModalOpen h3 {
  color: rgb(239, 57, 57);
  font-size: 18px;
  font-weight: 700;
  font-family: Arial, Helvetica, sans-serif;
  border-bottom: 1px solid rgb(163, 183, 199);
}

.deleteModalOpen_texts p {
  margin-top: 10px;
}


.buttons {
  width: 100%;
  display: flex;
  gap: 5px;
  font-family: Arial, Helvetica, sans-serif;
  justify-content: end;
  position: relative;
  top: 25px;

}

.buttons :nth-child(1) {
  background-color: rgb(52, 130, 255);
  padding: 4px 10px;
  border-radius: 5px;
  color: white;
}

.buttons :nth-child(2) {
  background-color: rgb(255, 52, 52);
  padding: 4px 10px;
  border-radius: 5px;
  color: white;
}


.buttons :nth-child(1):hover {
  background-color: rgb(5, 67, 167);
  cursor: pointer;
}

.buttons :nth-child(2):hover {
  background-color: rgb(171, 15, 15);
  cursor: pointer;
}

.alertUploadedContainer {
  position: fixed;
  background-color: rgba(0, 0, 0, 0.764);
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
  z-index: 0;

}


.alertUploaded {
  position: fixed;
  top: 200px;
  left: 650px;
  display: flex;
  align-items: center;
  gap: 2em;
  flex-direction: column;
  background-color: white;
  border-radius: 5px;
  padding: 40px 25px;
  width: 450px;
}

.alertUploaded button {
  background-color: rgb(52, 130, 255);
  padding: 4px 10px;
  border-radius: 5px;
  color: white;
}

.alertUploaded_texts {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.alertUploaded_texts h3 {
  color:  rgb(52, 130, 255);
  font-size: 18px;
  font-weight: 700;
  font-family: Arial, Helvetica, sans-serif;
  border-bottom: 1px solid rgb(163, 183, 199);
}

.alertUploaded_texts p {
  margin-top: 10px;
}


/* dashboard */

.bigContainer {
  display: flex;
 justify-content: space-between;
}

.usersPhotos--container {
  display: flex;
  margin-top: 10px;
  padding: 10px;
  background-color: white;
  gap: 4em ;
}

.usersPhotos {
  display: flex;
  gap: 2em;
}

.usersPhotos--texts {
  display: flex;
  flex-direction: column;
  width: 250px;
  gap: 15px;
}


.usersPhotos--texts h3 {
  color: rgb(60, 125, 255);
  font-size: 20px;
  font-weight: 700;
  font-family: Arial, Helvetica, sans-serif;
}

.usersPhotos--texts :nth-child(2) {
font-weight: 600;
}

.usersPhotos--texts :nth-child(4) {
  font-weight: 600;
  color: rgb(248, 176, 41);
  font-style: italic;
}

.usersPhotos--img img {

  width: 400px;
  height: 400px;
  object-fit: cover;

}

.usersPhotos :nth-child(3) {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.usersPhotos--texts--numbers :nth-child(1) {
font-size: 16px;
font-family: Arial, Helvetica, sans-serif;
}

.stadisNumber {
  display: flex;
  gap: 1.5em;
}

.usersPhotos--texts--numbers :nth-child(2) {
  margin-top: 5px;
  background-color: rgba(244, 169, 7, 0.818);
  width: 10px;
  padding: 20px 50px;
  color: white;
  font-size: 25px;
  border-radius: 5px;
  text-align: center;
}

.usersPhotos--texts--numbers .yourpictures {
  background-color: rgba(47, 109, 255, 0.892);
}



/* userphotos little */

.usersPhotos--container_litle {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.usersPhotos_litle {
  display: flex;
  gap: 1em;
}

.usersPhotos_litle-img img {
  width: 200px;
  height: 130px;
  object-fit: cover;
  background-size: cover;
}

.usersPhotos--texts_little {
  display: flex;
  flex-direction: column;
  gap: 1em;
  width: 350px;
  font-size: 11px;
}

.usersPhotos--texts_little :nth-child(1){
  color: rgb(236, 64, 236);
  font-weight: 700;
}
.usersPhotos--texts_little :nth-child(3){
  font-weight: 700;
  color: rgb(128, 128, 128);
}